/* 
@font-face {
  font-family: 'Munro';
  src: url('../fonts/munro/Munro.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Munro';
  src: url('../fonts/munro/MunroNarrow.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Munro';
  src: url('../fonts/munro/MunroSmall.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
*/