.landing {
  display: flex;
  height: 100vh;
  font-family: 'Munro';
  background: #000000;
  color: #FFFFFF;

  .container {
    border: 3px solid #FFF;
    margin: 16em;
    padding: 2em;
  }
  .header {
    font-size: 28px;
    span {
      color: #0066cc;
    }
  }
  
  h3 {
    color: #00cc00 !important;
    width: 400px;
  }

  .has-button {
    padding-top: 150px;
  }

  .row {
    i {
      display: inline-block;
    }
    p {
      margin-left: 10px;
      display: inline-block;
    }
  }
}
