html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #35b299;

  .landing {
    padding-top: 10em;
    .terminal {
      box-shadow: 13px 10px 11px -2px grey;
      border: 1px solid #FFF;
      width: 45em;
      height: 30em;
      font-size: 16px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      .terminal-menu {
        width: 100%;
        box-sizing: border-box;
        height: 5%;
        background: hsl(0, 0%, 96%);
        margin: 0 auto;
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
        .terminal-buttons {
          height: 15px;
          width: 15px;
          border-radius: 25px;
          border: 1px solid #000;
          position: relative;
          top: 2px;
          left: 6px;
          display: inline-block;
          &.btn-close {
            background-color: #ff3b47;
            border-color: #9d252b;
          }

          &.btn-minimize {
            left: 11px;
            background-color: #ffc100;
            border-color: #9d802c;
          }
          &.btn-zoom {
            left: 16px;
            background-color: #00d742;
            border-color: #049931;
          }
        }

      }
      .terminal-screen {
        background-color: #151515;
        margin: 0 auto;
        position: relative;
        height: 95%;
        padding: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        p {
          text-align: left;
          font-family: monospace;
          &.text {
            color: #fff;
          }

          &.command {
            font-weight: bold;
            color: #9CD9F0;
            span {
              color: #fff;
              font-weight: normal;
            }
            &.with-cursor {
              &::after {
                content: "";
                position: relative;
                top: 2px;
                left: 5px;
                display: inline-block;
                background-color: #fff;
                vertical-align: top;
                width: 10px;
                height: 18px;
                -webkit-animation: blink 1s step-end infinite;
                animation: blink 1s step-end infinite;
              }
            }
          }
        }
      }
    }
    .btn-container {
       top: 5em;
    }
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @-o-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}