.tile.icon {
  height: 100%;
  text-align: center;
  display: float;
  align-items: middle;
  svg {
    margin-top: -9px !important;

  }
}

.hero-body.about {
   padding: 5rem !important;
}

.footer {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  ul{
    margin-top: 20px;
    li {
      margin-top: 20px;
      &:first-child {
        margin-top: 0px;
      }
      a {
        height: 50px;
        text-align: left;
        span.fa-layers-text {
          left: 50;
          text-align: left;
          width: 50px;
        }
      }
    }
  }
}
